[2015-04-27 07:58] bucaran opened #1 "Images"
![clor](https://cloud.githubusercontent.com/assets/8317250/7343629/9bfe2a46-ecfe-11e4-8878-fcb9bac8b9f9.png)

[2015-04-27 08:10] bucaran commented on #1
![ss](https://cloud.githubusercontent.com/assets/8317250/7343754/3e4ca45c-ed00-11e4-9b28-b0c6e461fe00.png)

[2015-04-27 08:18] bucaran commented on #1
![ss](https://cloud.githubusercontent.com/assets/8317250/7343849/66ea971a-ed01-11e4-92f1-2f254ea95b24.png)

[2015-04-27 08:21] bucaran commented on #1
![ss](https://cloud.githubusercontent.com/assets/8317250/7343894/d464e3ae-ed01-11e4-8a30-d3d2f319f93e.png)

[2015-04-28 11:43] #1 closed

[2015-05-15 04:04] bucaran commented on #1
![clor](https://cloud.githubusercontent.com/assets/8317250/7646736/dbc8c8ae-fb02-11e4-8209-1d4a421ddbd9.png)

[2015-11-28 00:05] danielb2 opened #5 "Extra color code"
[code]

Note how Clor has extra `\u001b[0m` at the end.

Also in the case of: ` Clor['red']('red').yellow('moo').toString()` which produces: `\u001b[31mred\u001b[0m\u001b[33mmoo\u001b[0m\u001b[0m`

This can be reduced to: `\u001b[31mred\u001b[33mmoo\u001b[0m`

Again there seems to be extra at  `\u001b[0m` at the end.

Or am I missing something?

[2015-12-05 00:14] danielb2 commented on #5
Hello?

[2015-12-05 01:05] chrismendis commented on #5
@danielb2 I've implemented a fix and submitted a PR to @bucaran.

[2015-12-05 03:54] bucaran commented on #5
@danielb2 Hi Daniel, sorry for the lack of response on my part. Really busy last week.

@chrismendis Thanks, will merge ASAP. I left you a question in the PR comment thread.

[2015-12-05 05:09] #5 closed

[2016-04-23 05:09] DylanPiercey opened #7 "Browser support."
The implementation would be very different (ie: %c style syntax) but it would be cool to have an isomorphic api for colors in javascript consoles.

[2016-04-23 05:11] bucaran commented on #7
@DylanPiercey Hey.

Cool! How would that work exactly? is this something you'd like to contribute or just would like see implemented at some point?

[2016-04-23 05:14] DylanPiercey commented on #7
@bucaran I'm going to give it a whirl since this lib is easy to grok. Basically It would involve making a completely separate implementation that targets the browser using the "browser" field of the `package.json`. If you are not familiar with styling the browser terminal you can check out https://developer.mozilla.org/en/docs/Web/API/console#Styling_console_output. Sadly it's very different from

[2016-04-23 05:20] DylanPiercey commented on #7
After looking at it a bit basically it would involve rewriting https://github.com/chalk/ansi-styles/blob/master/index.js to work in the browser which may require more work than I had thought, especially since not everything translates perfectly.

[2016-04-23 05:29] bucaran commented on #7
Thanks!

TBH I'd like to ditch that dependency and rewrite everything into clor.

[2016-04-23 05:34] DylanPiercey commented on #7
@bucaran one other annoying, but important, difference is that in the browser terminal you must pass in `n` arguments for each `%c` directive, ie each new style. The only real way to abstract this away and keep the api consistent (if you were to attempt this) is to use the `#log` method. Using the native console.log would be impossible to keep symmetrical.

[2016-04-23 05:36] bucaran commented on #7
Thanks!

What does `c` stand for?

The browser console API does seem quite different to node's.

[2016-04-23 05:37] DylanPiercey commented on #7
@bucaran I presume the %c is for css. Each %c will wrap the following text in a <style>.

[2016-04-23 05:48] bucaran commented on #7
Got it. Ah, the never ending computer science problem of adding color to stuff... :)

[2016-04-23 09:11] bucaran commented on #7
@DylanPiercey I was going over the code (it's been a while since I last touched this), and remembered you can:

[code]

Could this work? Like you could create your own log function like that.

[2016-04-23 15:49] DylanPiercey commented on #7
@bucaran I think you could make it work like that but you would be parsing the ANSI style colors to %c which would mean that the browser would have to have both implementations bundle in it. Size might not matter though since this module would like be used for debugging type code.

[2017-01-09 08:52] jbucaran commented on #7
@DylanPiercey Have you come up with a solution since we last discussed it here?

I think this can be accomplished now that clor exposes a `c` tagged template literals function.

See: https://github.com/jbucaran/clor#tagged-literals

[2017-01-09 12:19] marvinroger opened #8 "New tagged "c": slashes doubled"
The following:

[code]

Renders:

[2017-01-10 09:23] lukeed opened #9 "determine is terminal supports color"
Needs [`supports-color`](https://www.npmjs.com/package/supports-color)

[2017-01-12 06:34] jbucaran commented on #8
@marvinroger Thanks. Fortunately this is not a bug that will take me a weekend to fix. I'll cut a new patch ASAP.

[2017-01-12 06:45] jbucaran commented on #9
@lukeed I'll fix something and cut a new release soon. `supports-color` does a lot of stuff, some of which seems even more ludicrous than IE6 support, so I will not include that dependency, but I will do the most sensible checks like stdout.isTTY and check for $TERM.

[2017-01-12 06:46] lukeed commented on #9
Sounds good, thanks!

[2017-01-12 15:18] #8 closed

[2017-01-12 15:19] jbucaran commented on #9
Fixed in 5.0.0.

[2017-01-12 15:19] #9 closed

[2017-01-12 15:51] lukeed commented on #9
Thanks 😀

[2017-01-17 09:27] marvinroger opened #10 "v5 broke colors"
I am on Windows, on v4 everything worked fine, on v5 however, the following:

[code]

Renders

[code]

[2017-01-17 09:27] marvinroger commented on #10
(With node v7.3.0)

[2017-01-17 12:35] jbucaran commented on #10
<img width="759" alt="screen shot 2017-01-17 at 21 33 06" src="https://cloud.githubusercontent.com/assets/56996/22020622/8f93e24c-dcfc-11e6-9f3e-aa8a1fc4199e.png">

Can't repro this on macOS.

But [see this](https://github.com/jbucaran/clor/blob/master/ansi.js#L39), maybe instead of

[code]

this

[code]

If you can go ahead and try that to see if it fixes the issue, that'd be great.

[2017-01-17 19:31] marvinroger commented on #10
@jbucaran I tried and it does remove the `undefined` from the output. But I forgot to specify that there's no color, too (although color worked on v4).

[2017-01-18 03:35] #10 closed

[2017-01-18 03:37] jbucaran commented on #10
@marvinroger Thanks! This helped me identify the problem. The undefinedundefined thing is fixed and color should be avail. on windows again.

[2017-01-18 12:43] marvinroger commented on #10
Awesome! Thank you.

[2017-06-17 02:50] DylanPiercey commented on #7
@jbucaran so far my solution has only been to duplicate the logs and use `process.browser`. (Sorry for the late reply, I missed this).

[2017-06-17 05:20] jbucaran commented on #7
@DylanPiercey Great. Anything you could share? 🤔

[2017-06-17 05:41] DylanPiercey commented on #7
@jbucaran one thing I was thinking was changing the return for the tagged template literal to be an array.

This way it could be used isomorphically like so:

[code]

I get that it's not perfect but at least this way the API would be the same in both browser and server.

What are your thoughts?

[2017-06-17 09:23] jbucaran commented on #7
@DylanPiercey Might be worth a try. Can you put a PR together?

[2017-06-23 16:20] jbucaran opened #12 "Deprecate c.js"
I wrote c.js because I wanted to explore template literals, but now I regret having incorporated this functionality into this project. I think c.js would make a little nice side project, but it's place is not in clor.

[2017-08-26 14:00] #12 closed

[2017-08-26 14:01] jbucaran commented on #7
I've removed the `c` literal to simplify long term maintenance.

See #12.

👋

[2017-08-26 14:01] #7 closed

[2017-09-11 09:26] abhisekp commented on #12
Why would you regret having c.js functionality? It works fine and great.

[2017-09-11 09:30] jbucaran commented on #12
@abhisekp I've been wanting to revive <samp>c`...`</samp> as a separate module, but haven't found the time.

Thanks! :) But IMO it's out of the scope of clor .

[2018-03-05 00:00] psmarsh opened #14 "Closing sequence not always being added to end of string"
Hi! I'm not really sure how ANSI codes are supposed to work, so maybe this is intentional. But I noticed that

[code]

and

[code]

produce different output. This is because in the first example, the bgGreen closing sequence never gets added to the end of the string, while in the second example it is.

The red closing sequence is never added as well in the second example, but that doesn't matter b

[2018-03-05 00:18] jorgebucaran commented on #14
@psmarsh Could you send me a PR? :)

[2018-03-05 01:49] psmarsh commented on #14
Done, it's my first one so I hope I did it right lol

[2018-03-05 04:44] #14 closed

[2018-03-05 05:00] jorgebucaran commented on #14
Thank you, @psmarsh! Published as clorox@**1.0.3**. 🎉

[2018-07-14 03:29] jorgebucaran opened #17 "Clorox rebranded as Turbocolor!"
Clorox is now **Turbocolor**! SemVer starts at 1.0.0! 🎉

[2018-07-18 03:40] jorgegonzalez opened #18 "Create TypeScript declarations"
This would be awesome.

[2018-07-18 03:41] jorgebucaran commented on #18
@jorgegonzalez Sure thing. 💯

[2018-07-18 12:19] jorgebucaran commented on #18
e39bd84cfb627ef02527f7b4a8e3576c87b49aed 🎉

[2018-07-18 12:19] #18 closed

[2018-07-18 12:22] jorgegonzalez commented on #18
Thanks @jorgebucaran !

[2018-07-20 13:31] jorgebucaran opened #19 "Too bright."
Turbocolor is using bright colors, not regular codes.

See: https://github.com/rollup/rollup/pull/2339#issuecomment-406528170

[2018-07-20 13:32] #19 closed

[2018-07-20 22:57] #17 closed

[2018-08-09 09:23] Ovyerus opened #21 "Style stack isn't remembered on multiple uses"
If you store a style stack in a variable, e.g. `const colour = tc.red.bgCyan.bold`, the first call will be styled as expected, but any further calls to it will only have the first base style. I dunno if this is by design or whatever, but thought I'd report it just in case.

### Reproduction
[code]

### Result
![result img](https://erisaaa.is-a-good-waifu.com/f1ced5.png)

[2018-08-09 09:38] jorgebucaran commented on #21
@Ovyerus Yup, this behavior is expected. Calling `func` will reset the stack, so the second call fails.

I would do this:

[code]

or this:

[code]

This behavior was introduced in https://github.com/jorgebucaran/turbocolor/commit/9b1b3c20b94b312109258f54b3d57da3323324d4.

[2018-08-09 10:02] Ovyerus commented on #21
Ah I see. Yeah I ended up using the first style with the wrapping clojure, but I wasn't sure if it was intended behaviour or not.

Thanks for the fast reply!

[2018-08-09 10:02] #21 closed

[2018-08-09 10:17] jorgebucaran commented on #21
@Ovyerus Just to be clear, you don't need to do:

[code]

...since `red` (as well as every other style/color) is a named export. Every style keeps an internal stack/array which is reset to its original value every time you use it as a function.

[code]

Now, if you want to create a chain like that, in your original post, your two options are:

[code]

[2018-08-10 16:51] shellscape opened #23 "Tagged Template Literals"
Please consider adding support for tagged template literals. Without that feature, I'm afraid `turbocolor` can't truly be considered a drop-in replacement for `chalk`.

[2018-08-11 10:35] jorgebucaran commented on #23
@shellscape You are right. Turbocolor is not an exact clone of chalk. It's still "close enough" to be considered a drop-in replacement IMO, but it lacks some of chalk features like the tagged function.

The funny thing is we [had one](https://github.com/jorgebucaran/turbocolor/commit/40dc4e0a543c25ffc0ecfa6a19172e24e7baed7d) even before chalk [did](https://github.com/chalk/chalk/commit/f66271e01a9

[2018-08-11 10:39] jorgebucaran commented on #23
I'm a little busy rewriting all my OSS tests for [testmatrix](https://github.com/jorgebucaran/testmatrix) and working on V2 release of Hyperapp, so I can't work on a new library at the moment, but maybe I'll pick it up later if nobody has beaten me to it.

Thanks! 👋

[2018-08-11 10:39] #23 closed

[2018-08-25 22:05] NetOperatorWibby commented on #17
Why does the name of this package keep changing?

[2018-08-25 22:30] jorgebucaran commented on #17
@NetOperatorWibby I'm sorry?  The latest change represents a huge shift in the direction of the project, one that will not change. I wrote about it in the [release notes](https://github.com/jorgebucaran/colorette/releases/tag/1.0.0), if you have a moment, please read them.

---

[2018-09-30 17:01] jorgebucaran opened #26 "Test environment variables"
Add a test to test environment variables, e.g., `FORCE_NO_COLOR`, etc.

[2018-10-11 15:50] naturalethic opened #27 "Support 8 & 24 bit color"
https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

Additionally, generators for colors say,

`const mauve = colorette('#b784a7')`

Maybe theming too.

[2018-10-20 01:44] jorgebucaran commented on #27
Interesting idea. There are a few ways to do this. I'll experiment a bit.

@naturalethic What is theming?

[2018-10-20 11:32] jorgebucaran commented on #27
Generating the ANSI sequences is easy. Downsampling 24-bit colors colors on terminals that don't support 24-bit color, e.g. `Terminal.app`, is hard.

Chalk does this using `color-convert` and `supports-color`.

`color-convert` can convert a 24-bit color to 16-bit, 8-bit, etc., and `supports-color` check for specific terminal color support. Color detection might not be 100% reliable [according to t

[2018-10-20 15:01] jorgebucaran commented on #27
Generating the ANSI sequences is easy. Downsampling 24-bit color on terminals that don't support 24-bit color, e.g. `Terminal.app` not so much.

Chalk does this using `color-convert` and `supports-color`.

`color-convert` can convert a 24-bit color to 16-bit, 8-bit, etc., and `supports-color` allow you to check for specific terminal color support. Color detection might not be 100% reliable [accord

[2018-10-21 00:31] naturalethic commented on #27
Great stuff!  Regarding theming upon some though there's nothing you'd need to provide.  People can just put together any kind of color scheme they like and provide a small library if they want.  Terminals themselves can theme the standard 16 colors.

[2018-10-21 01:03] jorgebucaran commented on #27
@naturalethic Thanks! Maybe I can improve this a bit more. I'll experiment more.

[2018-10-22 07:41] jorgebucaran commented on #27
@naturalethic I played a bit more with it and whittled it down to this.

[code]

Now, compare it to what I posted above. Which one is better?

[code]

[2018-10-22 18:16] naturalethic commented on #27
Seems you could just do this:
[code]

[2018-10-22 18:20] naturalethic commented on #27
Or perhaps you could document that the end user must add `color-covert` to their packages if they want `hex`, then just provide the `hex` method on your library, which will give a friendly error if the `color-convert` package isn't present.

[2018-10-23 09:32] jorgebucaran opened #30 "Nested styling bug in dim & bold"
## TL;DR
Colorette is coloring outside the line.

## Summary

`bold` and `dim` use [the same close code](https://en.wikipedia.org/wiki/ANSI_escape_code#SGR_(Select_Graphic_Rendition)_parameters) causing a **bold** sequence nested in a dim sequence to break the immediately following sequence (and viceversa).

[code]

![](https://user-images.githubusercontent.com/56996/47343994-53b31b80-d6e2-11e8-99

[2018-10-23 10:12] #30 closed

[2018-10-25 16:02] jorgebucaran commented on #27
@naturalethic Opps, I did it again. https://github.com/jorgebucaran/colorette/pull/31

That adds built-in 24-bit color support.

[code]
[code]

###### Terminal.app

<img width="595" alt="screen shot 2018-10-26 at 1 00 24" src="https://user-images.githubusercontent.com/56996/47514109-8ca5e880-d8ba-11e8-82a7-8fb76293efa3.png">

###### iTerm.app (v3)

<img width="595" alt="screen shot 2018-10-26 at 1

[2018-10-25 22:18] jorgebucaran commented on #27
@naturalethic Me too. Thoughts? :)

[2018-10-25 23:51] jorgebucaran commented on #27
Yes, it does. The color factory functions `hex`, `bgHex`, `rgb` or `bgRgb` do extra work to produce a new color function, but once you've created it, the resulting function will perform exactly as any of the 16 built-in ones.

## Example

Import a built-in color function and a color factory function.

[code]

Derive a new color function.

[code]

From this point on you can expect the same performa

[2018-11-04 16:37] StoneCypher opened #32 "does not work correctly on windows"

[2018-11-04 16:39] StoneCypher opened #33 "these aren't actually ansi sequences"
these are vt-102 codes.  ansi sequences are a partial subset.  lots of the things you support don't occur in ansi

[2018-11-04 16:40] StoneCypher commented on #33
ansi sequences are mostly about cursor movement, control page setting, blanking, bitmap replacement, and other stuff most people don't even remember exists and that isn't supported by any of these libraries (or, for that matter, any windows computer)

unless you're targetting dos (pro tip: there is no dos node edition, soooo, maybe it's hyperterminal doing telnet over slip/ppp?) there is never a r

[2018-11-05 01:29] jorgebucaran commented on #33
@StoneCypher Terminology can be tricky. What do you suggest we change the title to?

Colorette is a Node.js library for colorizing text using ~~ANSI escape sequences~~ ANSI escape codes?

[2018-11-05 01:36] StoneCypher commented on #33
vt codes, or vt-102 codes, as you prefer

[2018-11-05 01:36] jorgebucaran commented on #32
@StoneCypher Bug details?

[2018-11-05 01:39] jorgebucaran commented on #33
@StoneCypher What about:

- terminal color codes
- terminal color sequences
- terminal CSI codes

[2018-11-05 03:10] jorgebucaran commented on #33
VT Codes has poor marketability or discoverability. Here are other alternatives I could think of:

- ANSI codes
- terminal color codes
- terminal color sequences
- terminal CSI codes

I'll try to figure something out for the next release.

[2018-11-29 12:43] n1kk opened #34 "Expose start/end codes for more custom use"
Would it be possible to expose the sequences themself as something like `redStart`/`redEnd` or `red.start`/`red.end` to give users ability to set color for all the upcoming output until manually changed ?

I had a few cases where I was receiving data for output asynchronously from several child processes and wanted to colorize it by app state. It was a bit tedious to wrap each output into colorizi

[2018-11-30 00:20] jorgebucaran commented on #34
Yes, it would be possible. But is it worth it? I'm open to discussing it.

Can you show me some code? I'd like to see what is it you call cluttered and more complicated to use.

[2019-01-02 07:42] NetOperatorWibby commented on #33
Why not

?

[2019-01-02 08:43] jorgebucaran commented on #33
@NetOperatorWibby Yep, why not indeed! Let me see what I can do! 😄

[2019-01-22 07:08] jorgebucaran commented on #34
No response. Closing.

[2019-01-22 07:08] #34 closed

[2019-02-15 04:37] #33 closed

[2019-04-07 13:30] ManuCart opened #35 "Error when using rgb branch"
[code]

When try rgb colorette branch, I have this error

[code]

[2019-04-07 16:18] jorgebucaran commented on #35
@ManuCart Installed it here (using node v11) and `require("colorette")` in a node REPL, but found no issues. What did you try?

Closing as this is most likely something in your end, and nothing I need to change in the library. Feel free to reopen if you disagree. 👋

[2019-04-07 16:18] #35 closed

[2019-10-14 12:18] frenzzy opened #37 "Support for "link" modifier"
I really like a minimalism of this library, but I also have to create clickable links in terminal.
I thought maybe it is possible to add one more very useful modifier?
[code]
refs:
- https://github.com/sindresorhus/ansi-escapes#linktext-url
- https://github.com/sindresorhus/terminal-link

[2019-10-14 16:06] jorgebucaran commented on #37
@frenzzy This isn't hard to implement, but colorette might not be the right place for this feature. Does chalk export a `link` function/method?

[2019-10-14 17:59] frenzzy commented on #37
`Chalk` does not export something similar but they have a [Related](https://github.com/chalk/chalk#related) section in its readme with a link to [`terminal-link`](https://github.com/sindresorhus/terminal-link) project.

I understand that this function is weakly related to the main purpose of the package (based on its name). My idea is that the `link` is the only missing feature which allows to mak

[2020-01-19 19:10] vladshcherbin opened #38 "Unable to use in Jest tests"
Hey 👋

I'm trying to test console output in [jest](https://jestjs.io/) tests, but it seems `colorette` doesn't work there. After looking at source code and [enabled variable](https://github.com/jorgebucaran/colorette/blob/1.1.0/index.js#L8) I found that `process.stdout.isTTY` returns `undefined` which results in disabled state.

I've also checked chalk and it's working in the same tests.

Maybe yo

[2020-01-20 03:27] jorgebucaran commented on #38
@vladshcherbin No, but if you can put together an example project, I may be able to look at it. And if you can figure it out, send me a PR. 👋

[2020-01-20 08:31] vladshcherbin commented on #38
@jorgebucaran As it sometimes happens, I've created a sample project and it works there. :shit:

Next, I've checked it again in my project and it works too. However, not every time, in watch mode it sometimes works and sometimes not.

All comes to `process.stdout.isTTY` which is sometimes `undefined` and sometimes `true`. Maybe you know why can this be happening since [there is a check for it](htt

[2020-01-21 07:49] jorgebucaran commented on #38
@vladshcherbin Have you tried directly setting `options.enabled` to override its initial value? 🤔

[2020-01-22 19:17] vladshcherbin commented on #38
@jorgebucaran seems to be working with `options.enabled` 👍 Good enough as a workaround, what do you think?

[2020-01-22 19:20] #38 closed

[2020-01-23 05:12] jorgebucaran commented on #38
@vladshcherbin Sounds good! 🙌

[2020-02-18 06:16] lukastaegert opened #39 "Consider providing a tree-shakeable ESM build"
I know colorette is already very small, but its architecture would allow for even smaller and more efficient output when bundling colorette if there was an ESM build that provided named exports. The current approach of putting everything on module.exports is unfortunately not suitable for tree-shaking as bundlers usually cannot tear that object apart.

If you do not want to maintain two builds, yo

[2020-02-18 07:14] jorgebucaran commented on #39
That could be interesting! 😄

[2020-03-09 17:11] silverwind commented on #39
@lukastaegert would this format be tree-shakeable?

[code]

[2020-03-09 17:36] jorgebucaran commented on #39
@silverwind Yes, as it's essentially the same as using a named `export`. That's essentially what we're currently using, no?

[2020-03-09 17:42] silverwind commented on #39
It's equivalent, with the benefit that the linewise style should be much easier to parse for bundlers. Also, it'll be a breeze to convert that style to ESM eventually.

[2020-03-09 18:56] lukastaegert commented on #39
Note sure about `module.exports.green =`, that I would need to check, but I definitely know that the equivalent assignment `exports.green =` will be converted to treeshakeable named exports by Rollup. Which would be perfect for me 😉. Also this would be marginally faster as there is one less property lookup in the assignment.

[2020-03-09 19:08] jorgebucaran commented on #39
@lukastaegert What is it exactly about the current implementation that makes it difficult or impossible to tree-shake. I'm happy to move things around in order to enable this.

[2020-03-09 19:14] lukastaegert commented on #39
Assigning something to `module.exports` is usually interpreted as default exporting it. Even though in your case it is an object, our current logic is not intelligent enough to derive named exports from the object literal. Which it could, but this would be quite a bit more work on our side and I hate to admit, rollup-plugin-commonjs is already some kind of mess. Assignments to properties of `expor

[2020-03-09 19:25] silverwind commented on #39
I hope `module.exports` is supported because it's pretty ingrained in node developers, partly because of [this post](https://blog.tableflip.io/the-difference-between-module-exports-and-exports/).

[2020-03-18 15:54] chocolateboy opened #40 "FORCE_COLOR doesn't force color"
I'm trying to pipe colored output through a shell pipeline in a TTY, but setting `FORCE_COLOR` to a truthy value doesn't seem to work:

## test.js

[code]

## test

[code]

## expected

[code]

## actual

[code]

## Environment

- **colorette**: 1.1.0
- **Node.js**: v13.11.0
- **OS**: Linux (Arch)

[2020-05-16 11:28] #40 closed

[2020-06-08 09:30] wopian commented on #39
CommonJS `module.exports` doesn't support ESM named exports - you only get access to the default export (an object here). It'll throw a syntax error if you try it.

[code]

You're able to target ESM import and CommonJS require by using the `exports` field in `package.json` for Node 12 and above. https://nodejs.org/api/esm.html#esm_conditional_exports

[2020-06-08 10:10] jorgebucaran commented on #39
I'd love to migrate colorette to Node >=14 and drop support for older nodes, but I don't think everyone is ready for that. But we could support both worlds and I'd be willing to maintain them until the time is right to let go of require.

[2020-06-09 12:00] wopian commented on #39
@jorgebucaran you can support both and be backwards compatible by keeping `main` as `index.js` and add the following field in `package.json`:

[code]

This would only leave named exports "broken" in Node 10 (EOL April 2021) environments using native ESM import syntax which requires the `--experimental-modules` flag and `.mjs` to use.

[2020-06-09 12:59] jorgebucaran commented on #39
Thanks for the info, @wopian. Do you reckon that is the best (most minimal) way to accomplish the job?

[2020-06-19 21:40] ai opened #42 "Disable color output for the single instance"
Hi. Can I have color output in one part of the app and non-color in other? Something like:

[code]

[2020-06-20 03:38] jorgebucaran commented on #42
Nope, there's no API for that at the moment.

[2020-06-22 10:50] chocolateboy opened #43 "FORCE_COLOR=0 forces color"
Re-opening this to ensure it doesn't get overlooked. Test case copied from https://github.com/jorgebucaran/colorette/pull/41#issuecomment-629703746. Fixed in https://github.com/jorgebucaran/colorette/pull/41, but the patch was [modified](https://github.com/jorgebucaran/colorette/pull/41#issuecomment-629694027), which introduced the new bug.

In the current version (1.2.0) of Colorette, the followi

[2020-06-23 21:11] ai commented on #39
[`dual-publish`](https://github.com/ai/dual-publish/) can automatically convert CJS module to dual CJS/ESM module on deploy.

You just need to change `module.exports` to:

[code]

I used in very popular projects like [`nanoid`](https://github.com/ai/nanoid/) and [`dual-publish`](https://github.com/ai/dual-publish/blob/master/test/index.test.js) has many edge cases in tests (like React Native, diff

[2020-06-25 16:48] #39 closed

[2020-06-26 12:24] jorgebucaran commented on #43
Thank you, @chocolateboy. I recently added tests for [FORCE_COLOR](https://github.com/jorgebucaran/colorette/blob/master/test/FORCE_COLOR.sh) and [NO_COLOR](https://github.com/jorgebucaran/colorette/blob/master/test/NO_COLOR.sh).

Could you explain why `FORCE_COLOR=0 node ./test.js | strings` or `FORCE_COLOR= node ./test.js | strings` expects _no_ color?

I thought [I had understood](https://githu

[2020-06-26 12:29] jorgebucaran commented on #43
To answer my own question, I think it is because when we pipe colorette, color should be disabled.

[2020-06-26 12:54] chocolateboy commented on #43
The "no color" in those cases is [because of the pipe](https://github.com/jorgebucaran/colorette/pull/41#issuecomment-650159606). The `FORCE_COLOR` is ignored in those cases i.e. it doesn't/shouldn't force color on or force color off. (It's kind of a `red("herring")` :-)

[2020-06-26 17:10] jorgebucaran commented on #43
🎉 @chocolateboy I got it! But...

---

Now that I finally understand the issue, I'd like to advocate against implementing `FORCE_COLOR=0` as described in [this comment](https://github.com/jorgebucaran/colorette/issues/43#issue-642965221). Why? I think presence of `FORCE_COLOR` in `process.env`, regardless of its value, should force color. But why? For consistency with its [evil twin `NO_COLOR`](ht

[2020-06-26 17:49] chocolateboy commented on #43
I think this is an awful lot of work to avoid adding a [few bytes](https://github.com/jorgebucaran/colorette/pull/41/files) to the source code :-/

As you mention, the behavior of `NO_COLOR=` and `NO_COLOR=0` (both equivalent to `NO_COLOR=1`) is non-standard and evil. No other environment variables behave that way.

I think it's easy enough to reason about the semantics if the code is written clea

[2020-06-26 18:06] jorgebucaran commented on #43
@chocolateboy I respect your opinion, but I don't consider that to be any work. And that's work that you'd do only if you wanted to switch between `FORCE_COLOR` and `NO_COLOR` (I don't think anyone would normally do that).

Frankly, I don't care about the bytes, this is Node, after all, your node_modules are heavier than the universe. My reason to go against this is not bytes, but that I simply fi

[2020-06-26 18:16] chocolateboy commented on #43
AFAICT, no other JS implementations of `FORCE_COLOR` behave in the way you're proposing (i.e. like `NO_COLOR`), and only `NO_COLOR` (mis)behaves in the way you're proposing, so I don't think adopting these two non-standards makes things simpler or easier to reason about.

[2020-06-27 03:02] jorgebucaran commented on #43
@chocolateboy What if we could do better that them? By the way, do you have an example of `FORCE_COLOR` used in the wild?

[2020-06-27 13:58] chocolateboy commented on #43
I don't think "everyone else is doing it wrong - let's innovate!" is a better approach. `FORCE_COLOR` may not have its own website, but it's still an informal standard which no other JS library I can find interprets in the way you're proposing. Yes, `FORCE_COLOR=0` may be interpreted in [two different ways](https://github.com/jorgebucaran/colorette/pull/41#issuecomment-629700219), but I can't see

[2020-07-05 20:53] vsehgal1 opened #46 "Error: No valid exports main found"
OS: Ubuntu: 18.04
Node Version: 13.6.0
Colorette Version: 1.2.1

After the version update anytime I try to `npm start` I face the following issue:
`Error: No valid exports main found for './node_modules/colorette'`

Am I missing something?
Thank you

[2020-07-05 20:56] vsehgal1 commented on #46
Works when I downgrade to 1.2.0

[2020-07-05 23:36] twalton83 commented on #46
Also seeing this issue  when I use create-react-app.

[2020-07-06 03:19] ok200paul commented on #46
https://twitter.com/jorgebucaran/status/1279802683264626688 - update to node >=13.7.0 :)

[2020-07-06 03:38] seanmwfried commented on #46
Updating Node fixed this for me.
`nvm install latest` put me on 14.5.0 and my vue dev server launched with no problem this time.

[2020-07-06 03:39] twalton83 commented on #46
Thanks for the heads up! Works great.

[2020-07-06 03:59] jorgebucaran commented on #46
@vsehgal1 Glad you figured it out @/all. Some versions in the Node 13.x range have buggy ES module support or need `--experimental-modules` in the command line, so I suggest you upgrade to Node >=13.7.

[2020-07-06 03:59] #46 closed

[2020-07-06 13:02] tracker1 opened #47 "Feature add clear and clearFill commands."
Would be good to add a clear and a clearFill option, in order to clear/reset the screen and/or clear the screen with a bg/fg fill.

[2020-07-06 13:04] jorgebucaran commented on #47
@tracker1 Any prior work of this?

[2020-07-07 04:46] jorgebucaran commented on #26
Implemented [here](https://github.com/jorgebucaran/colorette/blob/c5b8a001b7c0202752048bdf4afb9a9142dcf7e9/test/FORCE_COLOR.sh) and [here](https://github.com/jorgebucaran/colorette/blob/c5b8a001b7c0202752048bdf4afb9a9142dcf7e9/test/NO_COLOR.sh).

[2020-07-07 04:46] #26 closed

[2020-07-07 07:52] zhengxs2018 opened #48 "Cannot be used with node v13"
system versions

 - mac os
 - window10

node versions:

 - v13.3.0

module as a production dependency of autoprefixer, not available in node v13.3.0

Works fine in node v12 and v14

![image](https://user-images.githubusercontent.com/7506913/86740216-0cf98680-c069-11ea-8316-d88d065ad66d.png)

[2020-07-07 07:56] jorgebucaran commented on #48
@zhengxs2018 Some versions in the Node 13.x range have buggy ES module support or need --experimental-modules in the command line, so I suggest you upgrade to Node 13.7 if you want to continue using 13 for some reason, or better yet >=14 if you can. 👋

Related https://github.com/jorgebucaran/colorette/issues/46

[2020-07-07 07:56] #48 closed

[2020-07-12 12:45] abhichatbot opened #49 "Error: Package exports for '.\colorette' do not define a valid '.' target"
Installed with material-ui but not able to compile due to this.

[2020-07-12 14:23] jorgebucaran commented on #49
@abhichatbot Could you create a repo so I can reproduce this? Also, make sure this is not a dupe of https://github.com/jorgebucaran/colorette/issues/48.

[2020-07-18 12:54] anko opened #50 "Plain `require("colorette")` doesn't work anymore"
repro:

[code]

This broke in [v1.2.1](https://github.com/jorgebucaran/colorette/releases/tag/1.2.1), so ref #44 #45  (Doing the same but `npm i colorette@<1.2.1` works as expected.)

If this is intentional, it breaks the semantic versioning promise; API break means you should increment the major version number, i.e. `2.x.x`.

[2020-07-18 14:33] jorgebucaran commented on #50
Duplicate of https://github.com/jorgebucaran/colorette/issues/48 and https://github.com/jorgebucaran/colorette/issues/46.

@anko Some versions in the Node 13.x range have buggy ES module support or need --experimental-modules in the command line, so please upgrade to Node >=13.7 or downgrade to 12. 👋

[2020-07-18 14:33] #50 closed

[2020-07-20 08:10] jorgebucaran commented on #49
Closing due to lack of activity. And this is most likely a duple of #48. 👋

[2020-07-20 08:10] #49 closed

[2020-07-27 11:51] snitin315 commented on #42
@jorgebucaran How can I disable colors for GitHub CI?

[2020-07-27 11:55] jorgebucaran commented on #42
@snitin315 The simplest way to disable color output is by using the [`NO_COLOR`](https://no-color.org/) env variable, e.g.

[code]

[2020-07-27 12:05] snitin315 commented on #42
@jorgebucaran I'm facing an error.
![Screenshot at 2020-07-27 17-33-59](https://user-images.githubusercontent.com/46647141/88539788-80bafd80-d02f-11ea-9beb-90c3f30eac11.png)

[2020-07-27 12:12] jorgebucaran commented on #42
Are you on Windows? And if so, do you know what is the Windows equivalent of `FOO= my_program`?

That doesn't seem like a colorette specific issue to me.

[2020-07-27 12:22] snitin315 commented on #42
We are migrating our project from `chalk` to `colorette`, All colored value tests are passing fine on Mac and Linux but some are failing for windows.
for example if I do expect('red color').toEqual('red('red color')'); // works fine on Mac n Linux but fails on windows.

[2020-07-27 12:25] jorgebucaran commented on #42
@snitin315 Would you create a new issue for this? This issue is for another discussion. Thanks.

[2020-08-13 12:01] Komaricus opened #51 "Bug: Package exports do not define a valid '.' target"
Hi!

Trying to create new Vue application with vue-cli command `vue create brief-vue` and then run and got an error:

[code]

Seems like the required file is missing: https://github.com/jorgebucaran/colorette/blob/master/package.json#L18

In my node_modules:

![image](https://user-images.githubusercontent.com/33253356/90131850-790c9000-dd75-11ea-805a-a9798cca6b6c.png)

Your .gitignore file:
![imag

[2020-08-13 14:14] jorgebucaran commented on #51
Hey @Komaricus, are you completely sure this is not a Node.js version related issue? https://github.com/jorgebucaran/colorette/issues/48

[2020-08-13 14:40] Komaricus commented on #51
Thanks, upgrading node and `nvm use 14.8` already helped me

[2020-08-13 14:40] #51 closed

[2020-08-20 09:46] chenxian352 commented on #49
I just got this error in Travis.

Here's my package.json
[code]

Here's main part of my Travis yml.
[code]

Some error logs in Travis
[code]

[2020-08-20 10:00] chenxian352 commented on #49
Changed to Node v10 and it's all good now. 😅
[code]

[2020-08-20 11:39] jorgebucaran commented on #49
Yes, that's correct. You may also upgrade to >=14.

[2020-08-20 23:34] tracker1 commented on #47
See ANSI sequences...

**Clear**

[code]
`0m` resets all text attributes, the `2J` clears the screen.

IIRC. You can set new background/forground color and the clear will set that for the entire screen.

[2020-08-20 23:36] tracker1 commented on #47
http://www.isthe.com/chongo/tech/comp/ansi_escapes.html

[2020-08-23 16:32] victorvuelma opened #52 "require("colorette")"
Hello, i am having problems with colorette version 1.2.1.

Require doesn't work anymore, my node version is 12.18.3 and i can't upgrade to version 14 now, i agree with the comments at this issue https://github.com/jorgebucaran/colorette/issues/50, the esm support has broken the lib support for version < 14

[2020-08-23 16:35] #52 closed, assigned to nobody

[2020-08-25 02:15] tcampbPPU opened #53 "No valid exports main found for node_modules/colorette"
**Describe the bug**
With Nuxt.js running on macOS with version 13.5 of Node.js `$ nuxt` && `$ nuxt build` fail with error
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Be running Mac OS
2. with NVM install and use node version 13.5.0
3. run `$ nuxt` or `$ nuxt build` within a Nuxt.js project
4. See error for No valid exports

**Expected behavior**
Nuxtjs to build and compile success

[2020-08-25 02:21] tcampbPPU commented on #53
To Note, I also have a Ubuntu laptop (20.04) running the same version of Node.js and Nuxt.js and I do not see any error when compiling my project.

[2020-08-25 03:38] jorgebucaran commented on #53
@tcampbPPU This is a duplicate of https://github.com/jorgebucaran/colorette/issues/48 or https://github.com/jorgebucaran/colorette/issues/46. You just need to upgrade Node to 14 or downgrade to 12.

[2020-08-25 03:38] #53 closed

[2020-08-25 03:53] tcampbPPU commented on #53
Ok, I will try downgrading to version 12, actully node 14 gives me sperate issue with Nuxt 🤦🏼 .

[2020-08-25 17:15] isochronous commented on #49
So, just to update, we had the same exact issue happen on node 12.14.1 (verified by using `console.log(process.version)` on three different build agents.  However, I updated to the latest LTS (12.18.3, I believe) and the problem went away. I have no idea what the issue was, but it was remarkably consistent across those three machines.

[2020-08-25 17:27] jorgebucaran commented on #49
@isochronous By creating an empty project using 12.14.1 and trying colorette out you could rule out if it's colorette what's causing the problem. Then you'll at least know the issue is with your code, not colorette, which is most likely what's going on here.

[2020-08-25 17:32] jorgebucaran commented on #49
@isochronous By creating an empty project using 12.14.1, importing colorette and trying something like `red("hello")`, you can rule out colorette is the issue assuming that works (it works when I tried it).

[2020-08-25 17:37] isochronous commented on #49
The problem occurs on install, so I don't think that would work.  I'm seriously confused as to WTF is going on here.  Like I said though, it works on a different version of node, so it's NBD, just thought you might be interested to hear the resolution.

[2020-08-25 17:59] jorgebucaran commented on #49
Definitely. Thank you for sharing it!

[2020-08-31 20:04] AngeloVK commented on #49
Had the same issue today with version 13.0.1. After updating node to 14.9 this was resolved

[2020-09-10 13:14] Risto-Stevcev commented on #53
@jorgebucaran Is it possible to revert this back to non-es6 syntax and do a minor version bump to 1.1.2, and then re-introduce it back but do a major version bump to 2.0.0?
that way it won't break existing code unless to do a major version bump

[2020-09-10 22:52] songeastchang opened #54 "No valid exports main found when compile"
Failed to compile.

./src/index.css
Error: No valid exports main found for 'd:\myapp\node_modules\autoprefixer\node_modules\colorette'

main method is missing when running "npm run build"

[2020-09-11 04:56] jorgebucaran commented on #54
@songeastchang Could be a dupe of #48. See https://github.com/jorgebucaran/colorette/issues/48#issuecomment-654669713.

Let me know if that solves it for you. 👋

[2020-09-11 04:56] #54 closed

[2020-12-01 21:55] anark opened #55 "Error [ERR_REQUIRE_ESM]: Must use import to load ES Module"
I am running into a strange issue that started when updating tailwind/postcss packages that use colorette and running webpack via react-cypress-unit-test testing library.

The error I am getting is

[code]

If I explicitly install colorette 1.2.0 instead of 1.2.1 everything seems to work fine.

[2020-12-02 04:25] jorgebucaran commented on #55
Hey! Are you using Node 13.5? Please make sure this is not a dupe of #53.

[2020-12-02 07:04] anark commented on #55
I'm using Node 15, however I only see this error when running it through react-cypress-unit-test.  I checked that it is still running from Node 15 there and it is, however it may have something to do with how that library is initializing webpacker as I don't get this issue when I run it normally, just when running through cypress.

[2020-12-02 07:10] jorgebucaran commented on #55
Thanks for the info @anark. It must have something to do with how react-cypress-unit-test uses Colorette (or one of its dependencies) and not with Colorette itself. Do please let us know if you find out anything.

[2020-12-02 07:10] #55 closed

[2021-02-26 11:30] jorgebucaran commented on #27
I want to focus on the core functionality of this package, and simply not address 8~24 bit color at this time.

[2021-02-26 11:30] #27 closed

[2021-05-06 16:14] iceye opened #58 "Browser rollup includes 'colorette' causes "ReferenceError: process is not defined""
While developing a sapper/svelte app this happen when using console.log in the browser at line
` !("NO_COLOR" in process.env) &&`

Error detail:
[code]
prob a simple check on process could fix it:
`let enabled =
  process && !("NO_COLOR" in process.env) &&
`

It seems I have no workaround for this.

[2021-05-06 23:41] jorgebucaran commented on #58
How can you use colorette in the browser? @iceye

[2021-08-01 18:19] kibertoad opened #61 "Support for CI environments is lacking"
Current implementation doesn't reliably determine colour support in CI environments, resulting e. g. in CI for https://github.com/pinojs/pino-pretty/tree/feat/colorette breaking.

I think these lines from `supports-colour` should be included:

[code]

[2021-08-02 09:07] kibertoad commented on #61
@jorgebucaran Would you accept a PR for this?

[2021-08-02 09:13] jorgebucaran commented on #61
Of course. Do you think we can simplify this expression to check for only the main services (GitHub, CircleCI)?

[2021-08-02 09:18] kibertoad commented on #61
@jorgebucaran Sure, although I would also include GitLab there, lots of major players are using it.

[2021-08-04 02:36] #61 closed

[2021-08-10 11:07] kibertoad commented on #61
@jorgebucaran Any chance you could publish a new version?

[2021-08-10 11:10] jorgebucaran commented on #61
Yes, sorry, will do! 🙇‍♂️

[2021-08-10 12:58] jorgebucaran commented on #61
Published as @1.3.0. I didn't include #60 because it doesn't really block you.

[2021-09-01 07:34] jorgebucaran commented on #42
Sure, we could look into this, but I want to understand why this is needed to start with. Care to explain what's the problem with pinojs/pino-pretty#220? I still don't understand what's happening.

[2021-09-01 07:41] kibertoad commented on #42
Because it leaks state. Imagine I already use Colorette in my project, and then I add pino-pretty, and this transitive dependency suddenly affects my main project and turns on colourizing globally even though it was off before.

[2021-09-01 07:56] jorgebucaran commented on #42
You are describing the problem of "global state" (evil, I know), but is that what's actually happening in pinojs/pino-pretty#220? Do you have any guesses as to where the unwanted mutation is? Could it be pino-pretty changing `.enabled` or is it that user's code?

[2021-09-01 08:03] kibertoad commented on #42
@jorgebucaran Original problem is a difference in behaviour between chalk and colourette. It was possible for pino-pretty to explicitly force Chalk instance to colourize, bypassing all checks. Colourette requires global state changes to achieve the same.

[2021-09-01 08:38] kibertoad commented on #42
Here is the change that broke the support:
![image](https://user-images.githubusercontent.com/1847934/131640047-988bb473-eba1-4a36-bc41-7dd9d18297fe.png)

[2021-09-01 10:25] jorgebucaran commented on #42
Oh, okay, so pino-pretty always colorizes regardless of terminal support (I mean that's what you want), correct?

[2021-09-01 12:31] kibertoad commented on #42
@jorgebucaran To be precise, it works like this:
1) It tells Chalk to colourize regardless of terminal support;
2) Then it asks Chalk if there is terminal support. If it does, or if user explicitly enabled colourizing, it enables colourizing internally (pino-pretty will attempt to colourize);

Hence currently default colourizing behaviour is correct, but behaviour for when user has explicitly enab

[2021-09-02 11:39] jorgebucaran commented on #42
So, the user actually enabled color, but that didn't actually set Colorette's `.enabled` to anything, right?

Can you tell me where in pino-pretty is defined the behavior for when the user has explicitly enabled color? Want to see how it was implemented.

[2021-09-02 11:51] kibertoad commented on #42
@jorgebucaran https://github.com/pinojs/pino-pretty/pull/218/commits/bb1afa502173915168e4d2f761a7664a2e90ffd4 this was the place.

[2021-09-02 11:54] kibertoad commented on #42
Another relevant part:
![image](https://user-images.githubusercontent.com/1847934/131838956-a778ebe4-d2e5-4cc4-aec9-c8acb8d10f7a.png)

Note how it default to what Chalk or Colourette tells is supported, but now if user deviates from default, it is not passed back to Colourette. Previously it didn't matter as chalk part was always enabled.

[2021-09-02 11:54] kibertoad commented on #42
@jorgebucaran opts.colorize either defaults to `coloretteOptions.enabled`, or can be forced to `true` is user passes `-c`

[2021-09-02 11:55] kibertoad commented on #42
Main difference is that previously Chalk part was always enabled, so it was due to pino-pretty part either being enabled or not. Currently even if pino-pretty part is enabled, if Colorette thinks terminal doesn't support it, nothing will be colourized.

[2021-09-02 11:57] jorgebucaran commented on #42
So, it serves the same purpose as Colorette's `.enabled`. Why can't we just do this again?

[code]

[2021-09-02 11:58] kibertoad commented on #42
@jorgebucaran Because see the very beginning of this discussion. This leaks global state and affects everything else that might be using Colorette as well, e. g. main application using pino-pretty which may want to have very different configuration. This is a no-go for pino-pretty.

[2021-09-02 12:16] jorgebucaran commented on #42
This is a bit vague. Could you specifically point out what would go wrong? Could you describe a scenario where someone would be affected or experience unexpected behavior if we did `coloretteOptions.enabled = opts.colorizer`. That would clarify everything for me.

I suppose this means either forcing color or disabling color. Just to be sure.

No worries, I got this part.

[2021-09-02 12:23] kibertoad commented on #42
E. g. I am writing a CLI tool enterpriseCLI. I directly depend on Colorette, I use it for coloring my output. Within enterpriseCLI I set global value for `coloretteOptions.enabled` to disabled because I don't want colour for some reason in some particular environment. Then I introduce pino-pretty as a dependency. Pino-pretty checks colorette parameter, sees that this environment supports colours,

[2021-09-02 12:28] kibertoad commented on #42
It also works in reverse - if my environment doesn't explicitly support colours and I had to force-enable it in colorette it from my enterpriseCLI, I will also have to force-enable it in pino-pretty, otherwise pino-pretty will disable coloring for my enterpriseCLI as well.

[2021-09-02 14:57] jorgebucaran commented on #42
Thank you, @kibertoad! I never considered this use case.

As for the API. Would this work for you?

[code]

[2021-09-02 14:57] jorgebucaran commented on #42
Thank you, @kibertoad! I never considered this use case.

Would this API work for you?

[code]

[2021-09-02 14:58] jorgebucaran commented on #42
Thank you, @kibertoad! I never considered this use case.

Would this API work for you?

[code]

[2021-09-02 15:07] kibertoad commented on #42
@jorgebucaran perfect!

[2021-09-02 15:21] jorgebucaran commented on #42
Great! Let me think it over a bit and if we don't come with anything better, we'll go with that.

[2021-09-04 09:53] jorgebucaran commented on #42
Here's another idea! How about leaving it to the caller to wrap colors in any way they want?

[code]

You could use `colors.enabled` to set `enterpriseOptions.enabled` as well.

[2021-09-04 09:56] kibertoad commented on #42
`enterpriseOptions.enabled` is this just some internal object, e. g.
[code]
?

What is the advantage of this approach? Sounds like same thing with extra steps, hence worse developer experience, because everyone would have to copy-paste same solution instead of having library provide it out-of-the-box.

[2021-09-04 10:22] jorgebucaran commented on #42
`enterpriseOptions.enabled` would be `opts.colorizer` in pino-pretty, no? You can use `colors.enabled` too. It's up to you.

The advantage is keeping Colorette simple and give you the flexibility to wrap colors any way you want.

The alternative is giving you that specific function:

[code]

The disadvantage is that we have a default export now. Yes, DX is better, but I personally don't mind being

[2021-09-04 10:32] kibertoad commented on #42
Explicit = boilerplate in this case, which I'm not a fan of.
Personally I don't see a problem with doing a semver major to replace default export with a named one (I generally much prefer named imports, but obviously that is a matter of taste).
Since you are the creator of the package, it is your call how this package should behave. If that particular pattern is documented so that everyone can sim

[2021-09-04 15:27] kibertoad commented on #42
@jorgebucaran How would your proposed solution work with compatibility detection logic? Does it completely go away and if user is calling `colors.red`, then it will be always drawn, regardless of compatibility detection outcome?

[2021-09-04 15:31] jorgebucaran commented on #42
There are two approaches, which one do you mean?

`red()` would always output red. `enabled` would be true or false as usual, but it would no longer be a property, just a const.

[2021-09-04 15:36] kibertoad commented on #42
@jorgebucaran The one when the whole burden of controlling when to draw lies on the shoulder of a developer (second option). Developer experience of that is really questionable, personally I would definitely just go for Chalk if those were my options.

[code]

This one works great, although I would probably still prefer to have it as a named export, so that { getColors, isColorSupported } could be

[2021-09-04 15:49] jorgebucaran commented on #42
I like named exports too, but I could probably go with this:

[code]

We could even get rid of automatic color support, but I'd really prefer to keep that.

[2021-09-04 15:50] jorgebucaran commented on #42
`supportsColor` might be good too.

[2021-09-04 15:51] kibertoad commented on #42
@jorgebucaran

`import c, { enabled } from "colorette"

const { red, green, blue } = c({ enabled })`

Yupp, that looks great; defaulting to `enabled` when no param is passed, as per original suggestion, also sounds like a good idea.

[2021-09-04 15:51] kibertoad commented on #42
Would you like to implement it yourself, or should I give it a shot?

[2021-09-04 15:56] jorgebucaran commented on #42
Yeah, let's keep auto-detection built-in. Let me take care of this one! 👌

[2021-09-08 17:25] jorgebucaran commented on #42
@kibertoad Just pushed the new API to the [`instance`](https://github.com/jorgebucaran/colorette/tree/instance) branch. It works as described in https://github.com/jorgebucaran/colorette/issues/42#issuecomment-912995002, give or take.

[code]

Now, before going forward with this, I have an alternative API I'd like to submit for consideration as well:

[code]

You could wrap `toColor` to create a c

[2021-09-08 17:35] kibertoad commented on #42
@jorgebucaran Do I understand correctly that the main advantage of the alternate approach is being able to chain different styles?

`colorizeCLI(blue('text'))` looks less convenient than `blueCli('text')`, so if not for chaining, first one still looks like a better option. `toColor(blue('text'))` is definitely harder to read.

[2021-09-08 17:42] jorgebucaran commented on #42
You should be able to chain or nest styles either way. The alternative is somewhat "purer". I also find it more natural to import the color functions rather than create them via a function.

While I prefer the alternative, I'm fine either way.

[2021-09-08 17:45] kibertoad commented on #42
@jorgebucaran I'm just looking from developer's perspective, and as a developer I want as little boilerplate as possible. Using two functions where I could use just one to the same effect feels like a step backwards.

Maybe default instance could be created out-of-the-box, and color functions exported for it, so that those who do not need new API could just keep using them?

[2021-09-08 17:54] jorgebucaran commented on #42
My position is far less extreme than yours. I wouldn't mind some boilerplate in exchange for simplicity and a bit more purity.

Your suggestion could work, let me think about it too.

[2021-09-08 18:09] jorgebucaran commented on #42
Just pushed the new documentation. Would you mind having a look at the [API section](https://github.com/jorgebucaran/colorette/tree/instance#api) and tell me if it makes sense to you or whether you'd do it differently? 🙏

[2021-09-08 18:12] kibertoad commented on #42
@jorgebucaran Looks perfect!

[2021-09-08 18:21] jorgebucaran commented on #42
Haha, thanks. 😄

[2021-09-09 07:18] jorgebucaran commented on #42
@kibertoad I'm taking your suggestion to export individual colors (always enabled) in addition to the new API.

Now, did you notice the proposed `createColors({ colorize: boolean })` won't let you toggle color dynamically?

A different API like this would:

[code]

[2021-09-09 07:37] kibertoad commented on #42
@jorgebucaran I don't think this would be very useful. If someone needs to dynamically change configuration, they could simply create a new Colorette instance with a different configuration. Immutable instances are cleaner.

[2021-09-09 08:10] jorgebucaran commented on #42
It's just like Chalk's `new Chalk()`, so maybe it can be useful, plus it would be consistent with Colorette's current `.enabled` property that lets you toggle color on or off as needed.

Still, do you reckon this solves https://github.com/pinojs/pino-pretty/issues/220?

[2021-09-09 08:39] jorgebucaran commented on #42
FYI, here is the class-based implementation:

[code]

and here's the factory-style implementation:

[code]

[2021-09-09 11:41] kibertoad commented on #42
@jorgebucaran Yeah, either solution would resolve that issue.
No strong preference on class vs factory implementation, performance is also mostly identical on properly warmed up instance.
If you feel like having mutable options make sense - sure, but it is different from `new Chalk` specifically because that creates new immutable instance, does not mutate existing one

[2021-09-09 12:05] jorgebucaran commented on #42
I must have gotten it all wrong. So, `new Chalk` won't let you change whether the output will be colorized?

[2021-09-09 12:05] jorgebucaran commented on #42
I must have gotten it all wrong. So, `new Chalk` won't let you change whether the output will be colorized once created?

[2021-09-09 12:29] kibertoad commented on #42
@jorgebucaran Only within that new Chalk instance.

[2021-09-09 12:36] jorgebucaran commented on #42
Sounds like it will let you dynamically toggle color on or off, which is what I am suggesting [here](https://github.com/jorgebucaran/colorette/issues/42#issuecomment-915862837). Otherwise, how is `new Colorette` (or `createColors()`) different from `new Chalk`?

[2021-09-09 12:38] kibertoad commented on #42
`new Colorette` is exactly the same as `new Chalk`. Chalk doesn't have equivalent for `{ options }; options.colorize = false` though.

[2021-09-11 13:15] eng-dibo opened #65 "require() of ES modules is not supported"
I have an issue when I try to run webpack with `webpack.config.ts` written in typescript and `ts-node` has `"require": ["tsconfig-paths/register"]`

// tsconfig.json
[code]

when I remove `"require": ["tsconfig-paths/register"]` from `ts-node` it runs, but webpack cannot detect aliases.

I already set `module: commonjs` in my `tsconfig.json` and removed `type: module` from my `package.json`

trace

[2021-09-11 14:24] jorgebucaran commented on #65
Colorette should work out of the box on old Node because we define entry points for it [here](https://github.com/jorgebucaran/colorette/blob/eec128ebdc0e12c7bd0b7016270dc8081d81e096/package.json#L11-L17).

[2021-09-12 07:05] eng-dibo commented on #65
ok, so how to solve this issue?
I use node v12.14.1

[2021-09-12 08:37] jorgebucaran commented on #65
If you are importing an ES module in Node `v12.*` you also need to specify the [`--experimental-modules`](https://nodejs.org/dist./v12.12.0/docs/api/esm.html#esm_experimental_json_modules) flag when running your program. Did you try that?

[2021-09-12 10:26] eng-dibo commented on #65
I use webpack which uses ts-node which registers tsconfig-paths which on its turn uses colorette.

I set `module: commonjs` to my tsconfig.json and can't require to use ES modules.

I don't run node by myself at all

[2021-09-12 14:09] jorgebucaran commented on #65
`require`ing Colorette should work out of the box too. This is probably not a Colorette issue, I'm afraid.

<img width="1440" alt="Screen Shot 2021-09-12 at 23 04 00" src="https://user-images.githubusercontent.com/56996/132990686-95e2ebec-c23b-4588-a648-3bcfc9bde3a4.png">

[2021-09-16 09:40] kibertoad commented on #42
@jorgebucaran What's the plan to proceed?

[2021-09-16 10:16] jorgebucaran commented on #42
I feel `new Colorette` is more idiomatic without having you remember a function name (other than the name of the library itself). I should be able to finish the work and publish 2.0 in a few days.

I think this is not currently blocking `pino-pretty`, though, correct?

[2021-09-16 10:17] jorgebucaran commented on #42
I feel `new Colorette` is more idiomatic without having you remember a new function name (other than the name of the library itself). I should be able to finish the work and publish 2.0 in a few days.

I think this is not currently blocking `pino-pretty`, though, right?

[2021-09-16 19:10] kibertoad commented on #42
It is blocking. There are still regressions being reported with people losing colouring in pino-pretty.

[2021-09-16 21:07] LeoniePhiline opened #67 "[colorette v1.4] `tty && tty.isatty(1)` breaks in vite HMR mode"
Hi!

In vite HMR mode, `require('tty')` returns a mock module, which is auto-defined as:

[code]

Therefore, the check `tty && tty.isatty(1)` (`isCompatibleTerminal`) fails with "TypeError: tty.isatty is not a function".

I can't help by disabling via `process.env.NO_COLOR`, because `isCompatibleTerminal` is eagerly evaluated, no matter if `NO_COLOR` is set or not.

Could you please consider:

1.

[2021-09-17 14:15] jorgebucaran opened #70 "Upgrading to 2.0.0"
If you're upgrading from `1.x`:

- Top-level color functions will produce color always now.
  - To enable or disable color, there's a new `createColors(options)` that returns an object with all the available color functions. Terminal support is auto-detected, but you can override it via `options.useColor`.
- The previously available `options.enabled` has been removed in favor of `createColors(opti

[2021-09-17 14:24] jorgebucaran commented on #42
Now available in `2.0.0`.

[code]

[See the upgrading guide for details](https://github.com/jorgebucaran/colorette/issues/70).

[2021-09-17 14:24] #42 closed

[2021-09-17 14:45] jorgebucaran commented on #65
`require`ing Colorette should work out of the box when using CommonJS. This looks like a webpack thing, so closing.

[2021-09-17 14:49] kibertoad commented on #42
Woohoo!

[2021-09-17 17:11] jorgebucaran commented on #37
I can't recall what my reasoning was, but I'm thinking that perhaps we should include this. There's already **bold**, _italics_, etc.

[2021-09-18 11:07] NickKaramoff opened #71 "`createColors` has a required argument in d.ts"
https://github.com/jorgebucaran/colorette/blob/cfdfb4ae77a0faae9a3f0f5e47b5cc16bb2c1ba0/index.d.ts#L92

Due to this, calling `createColors` without arguments throws an error in TypeScript

[2021-09-18 11:33] #71 closed

[2021-09-18 11:34] jorgebucaran commented on #71
I bungled.ts. Thanks!

[2021-09-18 20:19] kibertoad commented on #70
@jorgebucaran What's the rationale behind default colouring functions being enabled by default, rather than relying on auto-detect by default, btw?

[2021-09-19 02:12] jorgebucaran commented on #70
Purity. I always found the previous behavior surprising and unreliable.

With `isColorSupported` you can implement a toggling mechanism yourself if you wish, or just use `createColors()` as our out-of-the-box solution.

[2021-09-21 14:36] jorgebucaran commented on #37
Turns out this doesn't really work on macOS Terminal. Otherwise, support is pretty good. Maybe someday.

[2021-09-21 14:36] #37 closed

[2021-09-21 14:54] jorgebucaran commented on #70
This may be causing more trouble than I thought for existing users, so perhaps we should bring back auto-detection for the simplest use case instead. I'm not a huge fan of the approach, but I can live with it.

[2021-09-21 15:32] #70 closed

[2021-09-21 17:59] jorgebucaran commented on #67
Thanks. How would I go about reproducing your environment to test this myself?

[2021-09-22 10:10] LeoniePhiline commented on #67
- Create a new vite project. In my case vie & typescript (vue-ts preset)
- Install sanitize-html, import it in a vue component to use in the browser, and sanitize some html (or any string) with it
- Start vite HMR mode (npm run dev)
- Open in the Browser

what happens:
Browser pulls es modules. Sanitize-html imports postcss to parse your html string into an AST. Postcss pulls in colorette 1.4. Col

[2021-09-22 11:06] jorgebucaran commented on #67
Gotcha, thanks! I believe updating to the latest Colorette should fix it.

[2021-09-22 12:30] jorgebucaran commented on #67
`2.0.6` includes a check to make sure `env` exists. We might be able to remove this in the future too.

[2021-09-22 12:30] #67 closed

[2021-09-22 13:08] franckOL opened #73 "[using pino-pretty] issue Cannot read property 'env' of undefined ==> const env = process["default"].env || {}"
This happens in file /colorette/index.cjs:6:32

[2021-09-22 13:13] markrzen commented on #73
I am seeing this as well:

[code]

[2021-09-22 13:38] markrzen commented on #73
@jorgebucaran You have an accidental breaking change in 2.0.6 with the rollup command changes.

[2021-09-22 13:40] #73 closed

[2021-09-22 13:41] jorgebucaran commented on #73
Whoops, should be good now. Available in `2.0.7`.

[2021-09-22 17:12] from-nibly opened #74 "tty.isatty is not a function"
I'm using sanitize-html in the browser which uses postcss which uses this.

When postcss imports collorette it fails on the line checking for isCompatibleTerminal

A quick fix would be to switch to the following by adding a check that `tty.isatty` exists before calling it.

[code]

[2021-09-22 17:33] jorgebucaran commented on #74
Yup, that's exactly what we're doing now. Should be fixed when you update your dependencies.

[2021-09-22 17:57] from-nibly commented on #74
Ok well I think that would have actually solved my problem but it turns out postcss dropped colorette for nanocolors 12 hours ago :shrug:

[2021-09-22 19:09] kibertoad opened #75 "Default exports break down in converted CJS version"
See https://github.com/pinojs/pino-pretty/issues/237

`process["default"].env` is definitely incorrect. Looks like we should avoid using default imports here.

[2021-09-22 19:15] kibertoad commented on #75
@jorgebucaran Wonder if we could be running CI on built CJS version somehow.

[2021-09-22 19:16] kibertoad commented on #75
Duplicate of #73

[2021-09-22 19:16] #75 closed

[2021-09-23 01:11] jorgebucaran commented on #75
Should be possible, let me check the docs.

[2021-09-23 01:12] #74 closed

[2021-09-23 18:10] jorgebucaran commented on #75
@kibertoad Sorry, looking into your comment again, I'm not sure exactly what you mean. The CI runs the tests. We could look into adding a special test just for the CJS version, though. That what you were thinking?

[2021-09-25 21:57] jorgebucaran opened #77 "Support `--color` and `--no-color` flags?"
We should probably support `--color` and `--no-color` flags in `process.argv` like [chalk/supports-color](https://github.com/chalk/supports-color) does.

Also: https://github.com/webpack/webpack-cli/pull/2966

cc @kibertoad @snitin315 @alexander-akait

[2021-09-26 04:35] ai opened #78 "Add Nano Colors mention as inspiration"
Recent [`!s` optimization](https://github.com/jorgebucaran/colorette/commit/b1d82b9a9204bdac19b6306c2426a179f4cd6c6b) was clearly backport from [Nano Colors](https://github.com/ai/nanocolors/commit/f421c2cc37504b51afd310ef297b52660327da3f). Can you add a note that Nano Colors was an inspiration for the project.

[2021-09-26 08:04] ai opened #79 "Add kleur and kleur’s author mention to docs as inspiration"
It seems like the idea of color functions export was copied from `kleur`:

1. 9 Jul 2018 in `kleur`: https://github.com/lukeed/kleur/commit/41e46965738fca5b20e8b7e2e389e812b3200407
2. 11 Jul 2018 in `colorette`: https://github.com/jorgebucaran/colorette/commit/0226f478e6ba8ac3060187fdf29383314900f072

You should give honor to `kleur` author and mention him in docs.

[2021-09-26 08:33] jorgebucaran commented on #79
I encourage everyone to go through the git history both ways. There was cross-pollination (from both sides). [I said it](https://twitter.com/jorgebucaran/status/1441840288792604678).

These commits go back to when [the project was named Clorox](https://github.com/jorgebucaran/colorette/tree/0226f478e6ba8ac3060187fdf29383314900f072#clorox), and we still used the familiar chalk-like prototype-based

[2021-09-26 08:33] #79 closed

[2021-09-26 08:35] ai commented on #79
Cross-pollination still mean that you need to mention `kleur`

[2021-09-26 08:39] ai commented on #78
You edge case suggestions was very useful, but you didn’t mention `!s` fix [there](https://github.com/jorgebucaran/color-bench-test/pull/1). You didn’t create an initial boost, and you didn’t fix it to name yourself as author.

I most of the cases, I am OK with idea copying between projects. But in this case, I think I have the right to do another way and ask to mention me if you copied this perfo

[2021-09-26 08:53] jorgebucaran commented on #79
You are missing the point. Colorette doesn't use prototypes anymore. It used to. Back then, it also [had a different name](https://github.com/jorgebucaran/colorette/tree/0226f478e6ba8ac3060187fdf29383314900f072#clorox) and it even had a different home in npm. kleur was also prototype-based at the time.

I wouldn't expect kleur to mention Colorette either since its API is entirely different. Both o

[2021-09-26 08:56] ai commented on #79
I am talking about color functions export like `let { red } = require(x)`. Seems like in `kleur` this API was 3 days before the Colorette.

[2021-09-26 09:05] jorgebucaran commented on #79
That's not how kleur API works at all.

[code]
[code]

I introduced the current API [here](https://github.com/jorgebucaran/colorette/tree/214efe5a698a937baa5e559250264cb0e12d3076). At that point, kleur and Colorette no longer resembled each other. Also, keep in mind that the previous incarnation of Colorette predates kleur several years.

[2021-09-26 09:14] jorgebucaran commented on #78
I'm afraid you can't claim `!s` as your own invention. It's a pretty obvious fix by looking at the stack trace.

<img width="948" alt="Screen Shot 2021-09-26 at 18 07 14" src="https://user-images.githubusercontent.com/56996/134801287-83bdfed8-ed54-4f07-8d16-25898c340860.png">

I'm cool with borrowing ideas from each other too, of course.

[2021-09-26 09:18] ai commented on #78
Anyway it was not did by you.

And it was a fix for initial my idea that `=== ''` compare is slow. Without that changes, this discussion would not be started.

[2021-09-26 10:03] kibertoad commented on #77
Sounds good!

[2021-09-26 10:04] #78 closed

[2021-09-26 10:04] jorgebucaran commented on #78
Sorry, but I must disagree on behalf of the little programmer out there. You just can't take credit from _a_ `!s`.

`!s` was the smallest change I had to make to avoid the explicit `s === undefined`, so I went with that. I could've reversed the expression just as well and not use `!s` at all:

[code]
[code]
[code]

They're all roughly equivalent and produce the same result. I'll tell you what, I'l

[2021-09-26 10:07] snitin315 commented on #77
Nice to have :)

[2021-09-26 10:08] ai commented on #78
You lost the whole idea of optimization.

You saw from Nano Colors that `s !== "" && s !== undefined` is slow. You copied the fix of this slow part.

Now you are changing `!x` to `x` instead of do an honor thing and mention an author of original work.

[2021-09-26 10:35] jorgebucaran commented on #78
I can't entertain you all day. You've produced no original work in this particular space and you can't take credit for a trivial `!s`, much less expect anyone to believe Colorette was inspired by nanocolors. I am glad, not for myself, but for OSS in general, that you admitted to restoring my `git` history and added me to your COPYRIGHT file, but now it's time to take a break.

[2021-09-27 05:55] jorgebucaran commented on #78
Locked to prevent edits.

[2021-10-01 05:01] AndreWillomitzer commented on #77
Hi there, my name is Andre Willomitzer and I am a student from Canada studying computer programming. Currently we are contributing to open source projects we are interested in. Recently, I built a command line tool for parsing TXT/MD files to html files.

**Would you be interested in discussing me working on this issue?** I think this can be done using _Yargs_ another open source library. It allow

[2021-10-01 07:09] jorgebucaran commented on #77
In this case, we just need to `process.argv.includes(flag)` for each flag. Or do you mean that Colorete consumers should take care of this on their own?

[code]

Either way, we don't really need to add a dependency.

[2021-10-01 07:10] jorgebucaran commented on #77
In this case, we just need to `process.argv.includes(flag)` for each flag. Or do you mean that Colorete consumers should take care of this on their own?

[code]

Either way, we don't really need to add a dependency.

[2021-10-01 07:10] kibertoad commented on #77
@AndreWillomitzer Would be awesome if you could work on this!
However, colorette is a zero-dependency library and should stay so, so using yargs is not an option.

[2021-10-01 12:04] jorgebucaran commented on #77
I think that `--no-color` should have more priority than `--color`, just like `NO_COLOR` has over `FORCE_COLOR`.

So, both of the following should produce no color.

[code]
[code]

[2021-10-01 12:05] alexander-akait commented on #77
Yep, agree

[2021-10-01 13:22] jorgebucaran commented on #77
Available in `2.0.13`. 🐈‍⬛

[2021-10-01 13:44] kibertoad commented on #77
@jorgebucaran Readme needs to be updated.

[2021-10-01 14:43] jorgebucaran commented on #77
Should be good now. Thank you, everyone! 🙌

[2021-10-01 14:43] #77 closed

[2021-10-01 14:46] AndreWillomitzer commented on #77
Wow you guys fixed that so fast.  And the idea about not adding libraries makes sense, I never considered that you want the fewest dependencies.

Is there any other issue you think a beginner like myself would be able to fix?

Thanks, that makes a ton of sense what you did with

const colors = createColors({
  useColor: process.argv.includes("--color") && !process.argv.includes("--no-color")
})

[2021-10-01 14:55] jorgebucaran commented on #77
Pretty sure issues will pop up sooner or later. If you decide to watch this repository, you'll find out when that happens, and perhaps you'll help us then. Thank you, Andre.

[2021-10-01 15:01] AndreWillomitzer commented on #77
Okay! Thanks Jorge nice e-meeting you I'll watch the repo then.

Sad I didn't get to contribute a change though because this type of task seems perfect for learning haha.

All the best,

Andre

[2021-10-01 15:03] kibertoad commented on #77
@AndreWillomitzer I'm going to shamelessly hijack the thread, but if you are looking for a not-too-complicated OSS task to do, I would be happy if you could take a look at https://github.com/kibertoad/toad-scheduler/issues/24 :D

[2021-10-02 10:56] ai opened #82 "Broken SemVer"
Should `Add --color and --no-color flag support` be in 2.1 (as a new feature of color auto-detection) or in 3.0 (as breaking changes of color support)?

[2021-10-02 11:08] kibertoad commented on #82
I can see the rationale behind both approaches; very technically it _is_ a breaking change, but pragmatically it is not very realistic for someone to force no-colour and actually desire colour somewhere, so 2.1.0 sounds like a more sensible approach. Wonder if it's still realistic to rollback the change and remove it from 2.0.x branch, considering that there are projects relying on latest release

[2021-10-02 11:09] kibertoad commented on #82
Also I agree that SemVer is important, should we try following it from now on?

[2021-10-02 11:51] jorgebucaran commented on #82
#77 introduced no API changes, so I'd argue that either a minor or a patch are reasonable. On the other hand, new features are traditionally introduced in minor releases, so I agree that 2.1.0 would have been nicer all things considered.

👍 for a PR-based approach whenever we want to make incompatible API changes, add new features in a backward-compatible manner, or fix bugs. Optional for non-brea

[2021-10-02 11:53] kibertoad commented on #82
Looks good to me. Can I also join the maintainer bandwagon, btw?

[2021-10-02 11:56] jorgebucaran commented on #82
Certainly! 👌

[2021-10-02 11:56] #82 closed

[2021-10-02 12:04] kibertoad commented on #82
@ai Would you consider joining as a maintainer and helping enforce semver among other things?

[2021-10-02 12:12] ai commented on #82
@kibertoad I can’t work with him because of his impulsive actions like blocking Babel PR for every color library or DCMA takedown of `oh-my-fish`

[2021-10-02 12:14] kibertoad commented on #82
@ai Wouldn't having you on a team make it easier to prevent any future impulsive actions?

[2021-10-02 12:19] ai commented on #82
@kibertoad how it could prevent him from using aggressive actions again?

[2021-10-02 12:21] kibertoad commented on #82
@ai It was a result of emotional decision-making in the heat of the moment. Having a network of fellow devs to talk things through generally makes such things way less likely to occur. Jorge himself is not proud of what happened back then and he did grow as a person considerably.

[2021-10-02 12:25] ai commented on #82
@kibertoad Babel PR block shows that we didn’t grow. He is still using emotional decision-making.

The network of fellow didn’t help him in the current case. Any in this network can be attacked by him again on any conflict with him.

[2021-10-02 12:29] kibertoad commented on #82
@ai I don't believe there was a network in place to have this conversation. He was a solo dev on the library and was calling all the shots on the spot, and forking felt like a personal attack at the time. Definitely a healthier discussion could have happened, but no way to fix that back retroactively.
What do anyone win from continuing feuding? Can't we at least try to resolve our differences? Jor

[2021-10-02 12:39] ai commented on #82
@kibertoad there is no big rational reasons to use libraries like `nanocolors` or `colorette`. They are most an image of optimization.

This drama poisoned `nanocolors` and `colorette` brands. They both can’t be used as image anymore.

Having a network of maintainers will not help. He can remove you from collaborator in any moment of conflict (as it happened before).

The only way for now is to sw

[2021-10-02 12:53] kibertoad commented on #82
@ai I don't believe in burning bridges. I believe in healing and growth. Having heard Jorge's side of the story, I trust and respect him and willing to give him a benefit of doubt.
I'm sad that you feel the way you do, but should you ever change your mind, you would be more than welcome to join at any point in the future.

[2021-10-14 04:24] daKmoR opened #87 "Regression in 2.x? Disable colors globally for tests"
When running tests I want to disable all the colors for whoever is using it.
But my local CLI supports colors and it will auto-detect it as such.

what I did in my tests with 1.x

[code]

e.g. I disable the colors for the function `executeCli` - inside there I use `import { red } from 'colorette'`.

I don't see a way how to do this with the new API? even if I do `const { red } = createColors({ use

[2021-10-14 06:00] jorgebucaran commented on #87
Perhaps you could use `--no-color` or  `NO_COLOR=` from the CLI to disable color detection.

Or how about setting your own environment variable to tell your program how to behave?

[code]
[code]

Now, we detect if your environment supports color, so maybe you don't need to explicitly disable color to start with.

[2021-10-14 06:12] jorgebucaran commented on #87
You could use `--no-color` or  `NO_COLOR=` from the CLI to disable color detection.

Or how about setting your own environment variable to tell your program how to behave?

[code]
[code]

Now, we already detect if your environment ([including your CI](https://github.com/jorgebucaran/colorette/blob/547fcf159db4a6e08fe8eaa76ff0b86c27d7d3c6/index.js#L13-L15)) supports color or not, so why go out of y

[2021-10-14 06:12] jorgebucaran commented on #87
You could use `--no-color` or  `NO_COLOR=` from the CLI to disable color detection.

Or how about setting your own environment variable to tell your program how to behave?

[code]
[code]

Now, we already detect if your environment ([including your CI](https://github.com/jorgebucaran/colorette/blob/547fcf159db4a6e08fe8eaa76ff0b86c27d7d3c6/index.js#L13-L15)) supports color or not, so why go out of y

[2021-10-14 06:49] daKmoR commented on #87
because if I run the test locally it will fail... as I do have colors in my terminal (and I sure enjoy them)

so I could add it like this to the `package.json`

[code]

and that works on mac... also on linux I assume... but are we sure that will work on windows, windows wsl 1, windows wsl 2?

[2021-10-14 09:18] kibertoad commented on #87
you can use cross-env npm package for os-independent env setting

[2021-10-16 10:58] daKmoR commented on #87
fair enough - thx 🤗

[2021-10-16 10:58] #87 closed

[2022-06-02 08:23] jaclas opened #89 "SvelteKit + colorette"
I get error in browser: "process is not defined"
I think the reason is in Vite and its handling of environment variables.

Similar problem:

https://stackoverflow.com/questions/71083110/vue-uncaught-referenceerror-process-is-not-defined

[2022-06-02 08:29] kibertoad commented on #89
@jorgebucaran should we add check for process being defined?

[2022-06-02 12:47] jorgebucaran commented on #89
Would that fix their issue? Sure. 👍

[2022-06-02 19:38] MartinKolarik opened #90 "Wrong support detection on Windows"
[This check](https://github.com/jorgebucaran/colorette/blob/main/index.js#L18) assumes that anything running on Windows supports colors, which is not true and results in garbage output sometimes. For example, the GitHub Desktop app doesn't support colors for its output for precommit hooks and it sets `env.TERM` to `dumb`. Comparing with supports-color package which handles this correctly, [this ch

[2022-06-03 12:44] jorgebucaran commented on #90
Could you submit a patch or show us in our code what we'd need to do to support your use-case on Windows? Thanks.

[2022-06-03 12:55] MartinKolarik commented on #90
Sure, I'll send a PR.

[2022-06-03 14:17] #90 closed

[2022-06-05 13:22] #89 closed

[2022-06-14 06:14] jaclas opened #94 "Uncaught (in promise) TypeError: Cannot use 'in' operator to search for 'NO_COLOR' in undefined"
Unfortunately, the latest patch has again broken colorette's operation in the browser
![obraz](https://user-images.githubusercontent.com/17312717/173505940-f3c1f8d6-75ef-4175-a867-3eaf1df808bc.png)

[2022-06-14 07:03] kibertoad commented on #94
@jorgebucaran that's what I was afraid for. let's revert

[2022-06-14 14:49] jorgebucaran commented on #94
My bad, I'll fix this and push a fix ASAP.

[2022-06-14 14:49] jorgebucaran commented on #94
My bad. I'll fix this and push a fix ASAP. 😅

[2022-06-14 15:07] #94 closed

[2022-06-22 12:11] tukusejssirs opened #95 "TS: `Color` should accept `text` of `any` type"
I tried to colour a message like `red(true)`, but TS warned me that `Color` needs to be `string | number` ([`index.d.ts` (L2)](https://github.com/jorgebucaran/colorette/blob/main/index.d.ts#L2)).

I think that it should be of `any` type, just like `console.log()` or `Logger` from `@nestjs/common` can accept them.

I haven’t looked much into your code, but if you really need `string | number`, you